.name {
  color: rgb(0, 183, 255);
}
.navbar {
  height: 60px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.menu {
  display: flex;
}
.menu li {
  margin-right: 1em;
  cursor: pointer;
  list-style-type: none;
}
.link {
  text-decoration: none;
  font: bolder 14pt Arial;
  color: white;
  transition: 0.3s;
}
.link:hover {
  color: #c0bcbcad;
}
.BTN {
  display: none;
  background: black;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 20px;
}

.ContainerMenu {
  display: none;
  position: fixed;
  margin-top: 70px;
  width: 100%;
}
.ContainerMenu ul li {
  background: rgba(0, 0, 0, 0.904);
  border-bottom: 1px solid rgb(87, 82, 82);
  text-align: center;
  padding: 10px;
}

@media (max-width: 650px) {
  .menu {
    display: none;
  }
  .BTN {
    display: block;
  }
}
